/*  ============= WEB BROWSER RESETS ============ */
* {
  margin: 0;
  padding: 0;
  border: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}
body {
  max-width: 1600px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/* HTML5 container elements full viewport width */
header,
section,
footer {
  width: 100%;
}
/* Last element at bottom of header or section */
/* header *:last-child,
section *:last-child,
footer *:last-child {
  margin-bottom: 0 !important;
} */

/* ============ GLOBAL CUSTOM PROPERTIES ============  */

:root {
  /* Nicer than default sans-serif font */
  --sans-serif: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;

  /* Color variables */
  --black-000: #000;
  --white-000: #fff;

  --gray-100: #fbfbfb;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  --blue-100: #cfe2ff;
  --blue-200: #9ec5fe;
  --blue-300: #6ea8fe;
  --blue-400: #3d8bfd;
  --blue-500: #0d6efd;
  --blue-600: #0a58ca;
  --blue-700: #084298;
  --blue-800: #052c65;
  --blue-900: #031633;

  --indigo-100: #e0cffc;
  --indigo-200: #c29ffa;
  --indigo-300: #a370f7;
  --indigo-400: #8540f5;
  --indigo-500: #6610f2;
  --indigo-600: #520dc2;
  --indigo-700: #3d0a91;
  --indigo-800: #290661;
  --indigo-900: #140330;

  --purple-100: #e2d9f3;
  --purple-200: #c5b3e6;
  --purple-300: #a98eda;
  --purple-400: #8c68cd;
  --purple-500: #6f42c1;
  --purple-600: #59359a;
  --purple-700: #432874;
  --purple-800: #2c1a4d;
  --purple-900: #160d27;

  --pink-100: #f7d6e6;
  --pink-200: #efadce;
  --pink-300: #e685b5;
  --pink-400: #de5c9d;
  --pink-500: #d63384;
  --pink-600: #ab296a;
  --pink-700: #801f4f;
  --pink-800: #561435;
  --pink-900: #2b0a1a;

  --red-100: #f8d7da;
  --red-200: #f1aeb5;
  --red-300: #ea868f;
  --red-400: #e35d6a;
  --red-500: #dc3545;
  --red-600: #b02a37;
  --red-700: #842029;
  --red-800: #58151c;
  --red-900: #2c0b0e;

  --orange-100: #ffe5d0;
  --orange-200: #fecba1;
  --orange-300: #feb272;
  --orange-400: #fd9843;
  --orange-500: #fd7e14;
  --orange-600: #ca6510;
  --orange-700: #984c0c;
  --orange-800: #653208;
  --orange-900: #331904;

  --yellow-100: #fff3cd;
  --yellow-200: #ffe69c;
  --yellow-300: #ffda6a;
  --yellow-400: #ffcd39;
  --yellow-500: #ffc107;
  --yellow-600: #cc9a06;
  --yellow-700: #997404;
  --yellow-800: #664d03;
  --yellow-900: #332701;

  --green-100: #d1e7dd;
  --green-200: #a3cfbb;
  --green-300: #75b798;
  --green-400: #479f76;
  --green-500: #198754;
  --green-600: #146c43;
  --green-700: #0f5132;
  --green-800: #0a3622;
  --green-900: #051b11;

  --teal-100: #d2f4ea;
  --teal-200: #a6e9d5;
  --teal-300: #79dfc1;
  --teal-400: #4dd4ac;
  --teal-500: #20c997;
  --teal-600: #1aa179;
  --teal-700: #13795b;
  --teal-800: #0d503c;
  --teal-900: #06281e;

  --cyan-100: #cff4fc;
  --cyan-200: #9eeaf9;
  --cyan-300: #6edff6;
  --cyan-400: #3dd5f3;
  --cyan-500: #0dcaf0;
  --cyan-600: #0aa2c0;
  --cyan-700: #087990;
  --cyan-800: #055160;
  --cyan-900: #032830;

  --ontrend-100: #fff4d9;
  --ontrend-200: #fdd0bb;
  --ontrend-300: #fea8b3;
  --ontrend-400: #7dcfe7;
  --ontrend-500: #0b6655;
  --ontrend-600: #400c3e;
  --ontrend-700: #2c4763;
  --ontrend-800: #1f364d;
  --ontrend-900: #0e2439;

  --global-font: var(--sans-serif);
  --drop-shadow: var(--gray-500);
  --img-border: var(--gray-700);
}

main {
  width: 100vw;
}

.mainContent {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.my-section-header {
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 3rem 0 2rem 3rem;
  display: block;
}

.p-section-header {
  font-size: 1.25rem;
  word-wrap: break-word;
  max-width: 70ch;
  color: var(--gray-800);
}

.bg-color-1 {
  background-color: var(--white-000);
}

.bg-color-2 {
  background-color: var(--gray-100);
}

.my-cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  gap: 3rem 3rem;
  margin: 1rem 0 1rem 0;
}

/* Cards improvements */
.my-custom-card {
  width: 300px;
  height: 425px;
}

.cardImage {
  min-height: 200px;
  max-height: 200px;
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Image Galleries */
.my-flex-container-for-gallery {
  width: 100%;
  padding: 50px 30px 50px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center; */
  row-gap: 60px;
  column-gap: 30px;
}
.imageSquare {
  width: 300px;
  height: 300px;
}

.imageSquare img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textIcon {
  display: inline;
  height: 3rem;
  width: auto;
}

.gallery-header {
  width: 100vw;
}

.gallery-header-container {
  max-width: 1600px;
  margin: 0 auto 0 auto;
  padding: 2rem 2rem 2rem 2rem;
}

.titleAndIcon {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.gallery-header-container h1 {
  display: inline-block;
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

.gallery-header-container img {
  height: 4.5rem;
  width: auto;
}

/* FOOTER SECTION */

.footer-container {
  width: 100vw;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-color: rgb(45, 45, 45);
  padding: 2rem 0 0 0;
}

.my-footer-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 1rem;
}

.my-footer-links-container {
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.my-footer-links-container a {
  text-decoration: none;
  color: white;
  margin: 0 1rem 0 1rem;
}

.my-footer-links-container a:hover {
  text-decoration: underline;
  color: white;
}

.my-footer-icons-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

.my-footer-icons-container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.my-footer-icons-container li a {
  text-decoration: none;
  color: white;
  margin: 0 1rem 0 1rem;
}

.fab {
  color: white;
}

.fab:hover {
  color: grey;
}

.my-footer-privacy-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.my-footer-privacy-container p {
  margin-bottom: 0.75rem;
  font-style: italic;
}

.my-footer-privacy-container a {
  color: white;
  text-decoration: none;
}

.my-footer-privacy-container a:hover {
  color: white;
  text-decoration: underline;
}
