/* Global font setting*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@400;700&display=swap");

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville";
  overflow-wrap: break-word;
}

p {
  font-family: "Lato";
  overflow-wrap: break-word;
  font-size: 1rem;
}

h1 {
  font-size: 5.063rem;
  font-weight: bold;
}

h2 {
  font-size: 3.375rem;
  font-weight: bold;
}

h3 {
  font-size: 2.25rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
}

.smallText {
  font-size: 0.667rem;
}

/* font sizes for responsive design */

/* font-sizes for desktops */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* font-sizes for mobiles */
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}
